<section  style="display: flex; flex-direction: column; height: 100vh; " data-background-image="{{content}}" data-background-size="contain">
  <h4 style="background-color: rgba(0,0,0,0.4); border-radius: 10%;">{{ title }}</h4>
  <div style="flex: 1;"> </div>
</section>
