{# 一张图片一页 #}
{% for title, url  in decks %}
<section data-background-image="{{ url }}" data-background-size="contain">
  <h4>{{ title }}</h4>
  {# <img class="r-stretch" src="{{ url }}" alt=""> #}
</section>
{% endfor %}
