<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <title>reveal.js</title>

  <link rel="stylesheet" href="dist/reset.css">
  <link rel="stylesheet" href="dist/reveal.css">
  <link rel="stylesheet" href="dist/theme/black.css">

  <!-- Theme used for syntax highlighted code -->
  <link rel="stylesheet" href="plugin/highlight/monokai.css">
  <link rel="stylesheet" href="myslides.css">
</head>

<body>
  <div class="reveal">
    <div class="slides">
      {{sections}}
    </div>
  </div>

  <script src="dist/reveal.js"></script>
  <script src="plugin/notes/notes.js"></script>
  <script src="plugin/markdown/markdown.js"></script>
  <script src="plugin/highlight/highlight.js"></script>
  <script src="node_modules/echarts/dist/echarts.min.js"></script>
  <script>
    window.chartOptions = {{ chart_options|safe }};

    const chartInstances = {};

    function initOrResizeChart(slide) {
        const chartContainers = slide.querySelectorAll('.chart-container');
        chartContainers.forEach(container => {
            const chartId = container.id;
            if (container.offsetWidth > 0) {
                let chartInstance = chartInstances[chartId];
                if (!chartInstance) {
                    chartInstance = echarts.init(container, 'dark');
                    chartInstances[chartId] = chartInstance;
                    if (window.chartOptions && window.chartOptions[chartId]) {
                        chartInstance.setOption(window.chartOptions[chartId]);
                    }
                }
                chartInstance.resize();
            }
        });
    }

    Reveal.initialize({
        hash: true,
        transition: 'slide',
        loop: true,
        autoSlide: 6000,
        width: 1600,
        height: 900,
    });

    Reveal.on('slidechanged', event => {
        setTimeout(() => initOrResizeChart(event.currentSlide), 100);
    });
    Reveal.on('ready', event => {
        initOrResizeChart(event.currentSlide);
    });
  </script>
</body>

</html>
