
{% for col in content.columns %}
{% set s = content[col] %}
{% set title = s.name %}
{% set items = s.items()|list %}
{% for group in items | batch(n) %}
<section>
  <h3>{{ title }}</h3>
  <div class="slides-container">
      {% for key, value in group %}
      <div class="slide-card">
        <h2>{{ key }}</h2>
        <h3>{{ value }}</h3>
      </div>
      {% endfor %}
  </div>
</section>
{% endfor %}
{% endfor %}
